<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SafeViz</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
  <script src="/d3/d3.js"></script>
  <script src="/radarChart.js"></script>
  <script src="/createChart.js"></script>
</head>
<body>
<h1>Student: <%= id %></h1>
<div id="studentResults"></div>
<script>
  createChart(RadarChart, 'studentResults', '/scores/' + '<%= id %>');
</script>
</code>
</body>
</html>